include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include cuvee *.css
recursive-include cuvee *.csv
recursive-include cuvee *.html
recursive-include cuvee *.ico
recursive-include cuvee *.js
recursive-include cuvee *.json
recursive-include cuvee *.md
recursive-include cuvee *.png
recursive-include cuvee *.py
recursive-include cuvee *.svg
recursive-include cuvee *.txt
recursive-exclude cuvee *.pyc