include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include digitalwine *.css
recursive-include digitalwine *.csv
recursive-include digitalwine *.html
recursive-include digitalwine *.ico
recursive-include digitalwine *.js
recursive-include digitalwine *.json
recursive-include digitalwine *.md
recursive-include digitalwine *.png
recursive-include digitalwine *.py
recursive-include digitalwine *.svg
recursive-include digitalwine *.txt
recursive-exclude digitalwine *.pyc